
<Jumbo>
  
  <h2>About QuaranTea</h2>
  <p>
    The QuaranTea website is a delightful project created to explore Ember.
  </p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>

{{outlet}}